<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>タスク登録</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <h1>タスク登録</h1>
        <form action="./" method="POST">
            <div class="input_tag">
                <label for="name">タスク名</label>
                <input type="text" id="name" name="name">
                <label for="dead_line">期限</label>
                <input type="text" id="dead_line" name="dead_line">
                <label for="planned_time">計画時間</label>
                <input type="text" id="planned_time" name="planned_time">
                <label for="actual_time">所要時間</label>
                <input type="password" id="actual_time" name="actual_time">
                <label for="status">ステータス</label>
                <input type="password" id="status" name="status">
            </div>
            <button type="submit" name="regist" class="opt_btn btn">登録</button>
        </form>
        <input type="button" onclick="location.href='/'" value="一覧にもどる">
    </body>
</html>